StepFunctionGenerator.json
{
  "Comment": "Weather tile generation workflow - Parallel processing",
  "StartAt": "InitializeWorkflow",
  "States": {
    "InitializeWorkflow": {
      "Type": "Pass",
      "Result": {
        "variables": [
          "wspd",
          "tmp",
          "rh",
          "MC1",
          "MC10",
          "MC100",
          "MC1000",
          "MCWOOD",
          "MCHERB",
          "KBDI",
          "IC",
          "ERC",
          "BI",
          "SC",
          "GSI"
        ],
        "forecast_hour": "01",
        "override_timestamp": null
      },
      "Comment": "Set up initial workflow parameters",
      "Next": "CheckKillSwitch"
    },

    "CheckKillSwitch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "custom-tile-generator",
        "Payload": {
          "action": "check_kill_switch"
        }
      },
      "ResultPath": "$.kill_switch_result",
      "Next": "KillSwitchActive?"
    },

    "KillSwitchActive?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.kill_switch_result.Payload.kill_switch_active",
          "BooleanEquals": true,
          "Next": "WorkflowStopped"
        }
      ],
      "Default": "CheckExistingTiles"
    },

    "CheckExistingTiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "custom-tile-generator",
        "Payload": {
          "action": "check_existing_tiles",
          "override_timestamp.$": "$.override_timestamp"
        }
      },
      "ResultPath": "$.tiles_check_result",
      "Next": "TilesAlreadyExist?"
    },

    "TilesAlreadyExist?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tiles_check_result.Payload.tiles_exist",
          "BooleanEquals": true,
          "Next": "TilesExistComplete"
        }
      ],
      "Default": "CheckWeatherFiles"
    },

    "CheckWeatherFiles": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "custom-tile-generator",
        "Payload": {
          "action": "check_weather_files",
          "override_timestamp.$": "$.override_timestamp"
        }
      },
      "ResultPath": "$.weather_check_result",
      "Next": "WeatherFilesExist?"
    },

    "WeatherFilesExist?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.weather_check_result.Payload.files_exist",
          "BooleanEquals": false,
          "Next": "NoWeatherFiles"
        }
      ],
      "Default": "ProcessAllVariablesInParallel"
    },

    "ProcessAllVariablesInParallel": {
      "Type": "Parallel",
      "Comment": "Process all variables simultaneously",
      "Branches": [
        {
          "StartAt": "ProcessWSPD",
          "States": {
            "ProcessWSPD": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "custom-tile-generator",
                "Payload": {
                  "action": "process_variable",
                  "variable": "wspd",
                  "forecast_hour.$": "$.forecast_hour",
                  "override_timestamp.$": "$.override_timestamp"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessTMP",
          "States": {
            "ProcessTMP": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "custom-tile-generator",
                "Payload": {
                  "action": "process_variable",
                  "variable": "tmp",
                  "forecast_hour.$": "$.forecast_hour",
                  "override_timestamp.$": "$.override_timestamp"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ProcessRH",
          "States": {
            "ProcessRH": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "custom-tile-generator",
                "Payload": {
                  "action": "process_variable",
                  "variable": "rh",
                  "forecast_hour.$": "$.forecast_hour",
                  "override_timestamp.$": "$.override_timestamp"
                }
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallel_results",
      "Next": "AggregateResults"
    },

    "AggregateResults": {
      "Type": "Pass",
      "Parameters": {
        "status": "completed",
        "total_tiles_generated.$": "States.MathAdd(States.MathAdd($.parallel_results[0].Payload.tiles_generated, $.parallel_results[1].Payload.tiles_generated), $.parallel_results[2].Payload.tiles_generated)",
        "variables_processed": 3,
        "override_timestamp.$": "$.override_timestamp"
      },
      "Next": "MarkTilesComplete"
    },

    "MarkTilesComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "custom-tile-generator",
        "Payload": {
          "action": "mark_tiles_complete",
          "total_tiles_generated.$": "$.total_tiles_generated",
          "override_timestamp.$": "$.override_timestamp"
        }
      },
      "ResultPath": "$.mark_complete_result",
      "Next": "WorkflowComplete"
    },

    "WorkflowComplete": {
      "Type": "Pass",
      "Parameters": {
        "status": "completed",
        "message": "All variables processed successfully in parallel",
        "total_tiles_generated.$": "$.total_tiles_generated",
        "variables_processed": 15,
        "completed_at.$": "$$.State.EnteredTime"
      },
      "End": true
    },

    "TilesExistComplete": {
      "Type": "Pass",
      "Result": {
        "status": "skipped",
        "message": "Tiles already exist for current timestamp",
        "total_tiles_generated": 0,
        "reason": "tiles_already_exist"
      },
      "End": true
    },

    "NoWeatherFiles": {
      "Type": "Pass",
      "Result": {
        "status": "skipped",
        "message": "No weather files available for processing",
        "total_tiles_generated": 0,
        "reason": "no_weather_files"
      },
      "End": true
    },

    "WorkflowStopped": {
      "Type": "Pass",
      "Result": {
        "status": "stopped",
        "message": "Workflow stopped by kill switch",
        "total_tiles_generated": 0,
        "reason": "kill_switch_active"
      },
      "End": true
    }
  }
}
